body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("images/background.jpg");
  min-height: 100vh; 
  width: 100%; 
  display: block;
}

.intro-message {
  position: absolute;
  top: 40%
 }

.intro img {
  width: 290px;
  border-radius: 100%;
  position: absolute;
  right: 20%;
  top: 25%;
  z-index: 999;
}

.img-background {
  background-color: #afa89b85;
  width: 250px;
  height: 292px;
  position: absolute;
  right: .1%;
  top: 26%;
  z-index: -999;  
}

#twitter {
  font-size: 40px;
  color: deepskyblue;
  position: absolute;
  right: 7%;
  top: 35%;
}

#twitter:hover {
  color: white;
}

#git {
  font-size: 40px;
  color: black;
  position: absolute;
  right: 7%;
  top: 50%;
}

#git:hover {
  color: red;
}

#linkedin {
  font-size: 40px;
  color: rgba(0, 119, 255, 0.774);
  position: absolute;
  right: 7%;
  top: 65%;
}

#linkedin:hover {
  color: white;
}

.logo {
  width: 20%;
}

h2 {
  text-align: center;
  padding: 2%;
  color: #920606;
  background-image: url("images/background-color.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

h2:hover{
  color: #9e1988ea;
}

.skill {
  background-color: #f8e8e856;
  text-align: center;
  height: 300px;
}

p {
  text-align: left;
  font-size: large;
  padding: 2%;
  margin-left: 10%;
}

p:hover {
  color: rgb(209, 68, 16);
}

.icons {
  font-size: 40px;
  position: absolute;
  top: -8%;
  left: 45%;
  color: #2C80CD;
}

.col-sm-6 {
  height: 500px;
}

.about:hover {
  background-color: rgba(252, 238, 225, 0.473);
}

.contact-icon {
  color: green;
  font-size: 35px;
  margin: 1%;
  padding-right: 4%;
}

.s-icon {
  float: right;
  font-size: 170%;
  letter-spacing: 10px;
  color: rgb(23, 151, 160);
}

.s-icon:hover {
  color: rgb(13, 116, 116);
}

h3:hover,h4:hover, h5:hover {
  color: #920606;
  transition-duration: 1s;
  transform: scale(1.15);
}
