body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("images/background.jpg");
  min-height: 100vh; 
  width: 100%; 
  display: block;
  font-size: 16px;
}

.intro-message {
  position: absolute;
  top: 40%
 }

.intro img {
  width: 18.125rem;
  border-radius: 100%;
  position: absolute;
  right: 5rem;
  top: 7.8rem;
  z-index: 999;
}

.img-background {
  width: 15.625rem;
  height: 18.25rem;
  position: absolute;
  right: 0.1rem;
  top: 8rem;
  z-index: -999;  
}

#twitter {
  font-size: 2.5rem;
  color: deepskyblue;
  position: absolute;
  right: 7%;
  top: 35%;
}

#twitter:hover {
  color: white;
}

#git {
  font-size: 2.5rem;
  color: black;
  position: absolute;
  right: 7%;
  top: 50%;
}

#git:hover {
  color: red;
}

#linkedin {
  font-size: 2.5rem;
  color: rgba(0, 119, 255, 0.774);
  position: absolute;
  right: 7%;
  top: 65%;
}

#linkedin:hover {
  color: white;
}

.logo {
  width: 8rem;
  position: absolute;
  top: 0px;
}

h2 {
  text-align: center;
  padding: 2%;
  color: #920606;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

h2:hover{
  color: #9e1988ea;
}

.skill {
  background-color: #f8e8e8fb;
  text-align: center;
  height: 18rem;
  border: solid rgba(255, 255, 255, 0.74);
  border-width: thick;
}

p {
  text-align: left;
  font-size: large;
  padding: 2%;
  margin-left: 10%;
}

p:hover {
  color: rgb(209, 68, 16);
}

.icons {
  font-size: 2.5rem;
  position: absolute;
  top: -8%;
  left: 45%;
  color: #2C80CD;
}

.col-md-6 {
  height: 31.25rem;
}

.about:hover {
  background-color: rgba(252, 238, 225, 0.473);
}


.s-icon {
  float: right;
  font-size: 170%;
  letter-spacing: 10px;
  color: rgb(23, 151, 160);
}

.s-icon:hover {
  color: rgb(13, 116, 116);
}

h3:hover,h4:hover, h5:hover {
  color: #920606;
  transition-duration: 1s;
  transform: scale(1.15);
}

.info {
  background-color: rgb(243, 243, 177);
  margin-top: 0.938rem;
  padding: 0.5rem;
  width: 22rem;
  border-radius: 1.25rem;
}

li {
  list-style: none;
  padding-bottom: 8px;
}

li:hover {
  color: #2835ee;
}

li i {
  color: rgb(21, 185, 49);
  padding-right: 10px;
  font-size: larger;
}

.fas.fa-sort-up {
  color: rgb(243, 243, 177);
  font-size: 2.5rem;
  position: relative;
  top: -1.563rem;
  right: -1.875rem;
}

.bg-video {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
