body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("images/background.jpg");  
}

.intro img {
  width: 288px;
  border-radius: 100%;
  position: absolute;
  right: 15%;
  z-index: 999;
}

.img-background {
  background-color: #AFA89B;
  width: 250px;
  height: 296px;
  position: absolute;
  right: 8%;
  z-index: -999;  
}

